Azure/pipeline/lookup_ifcondition.json
{
	"name": "lookup_ifcondition",
	"properties": {
		"activities": [
			{
				"name": "FETCH_RECORDS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as TotalCount  from SalesLT.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AZURE_SQL_DATABASE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CHECK RECORDS MORE THAN 1000",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FETCH_RECORDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('FETCH_RECORDS').output.count",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}